.dmn-js-parent {
  border: solid 1px #ccc;
}

#save-button {
  background: white;
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 2px;
  padding: 8px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  cursor: default;
  font-size: 14px;
  color: #444;
}
